body{
    background-color: rgb(150, 93, 72);

}

 div {
 background-color: lightgrey;
 width: 400px;
 border: 30px solid rgb(85, 70, 70);
 padding: 50px;
 margin: 20px;
 text-align: center;
 }
     
 