body{
background-color:rgb(54, 19, 19);
}
h1{
    color: whitesmoke;
}

h2{
    color:whitesmoke;
    font-style: initial;
}
P{
    color: gray;
}
blockquote{
font-style: italic;
color: rgb(34, 12, 236);
font-size: 12;
}
hr{
    background-color: red;
    font-size: 45px;
    height: 2px;
}



    

   